/* header styels */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #f5c400;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  width: 30vw;
}

/* header avatar styels */
.header-avatar {
  margin: 0;
  padding: 0;
  height: 160px;
  width: 160px;
}

/* header name text styels */
.header-name h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}