/* Deskktop breakpoint is minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
    /* change body element styles to display one after another */
    body {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      padding-top: 140px;
    }

    /* nav updated styels */
    nav {
      background-color: #4056A1;
      background-image: none;
    }

    /* header updated styels */
    .header {
      padding-top: 0;
      margin-top: 50px;
      width: 30vw;
    }

    /* main container updated styels */
    .container {
      width: 50vw;
      margin: 10px 0;
    }

  }
