/* .new-tweet {
  visibility: hidden;
} */

.new-tweet form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#tweet-text {
  border: 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid black;
}

.counter, button[type=submit] {
  font-family: 'Bungee', cursive;
  font-size: 16px;
}

button[type=submit] {
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  float: right;
}

.text-danger {
  color: red;
}

.error-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  gap: 5px;
  border: solid 5px red;
}

.link-new-tweet:hover {
  cursor: pointer;
}