.tweet {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 2px black;
  color: #000000;
}
.tweet:hover {
  box-shadow: 5px 5px #4056A150;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.article-body {
  padding: 5px 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 5px;
  color: #808080;
}
.user-profile img {
  height: 50px;
}

.text-muted {
  opacity: 0.5;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 5px 10px;
  border-top: solid 2px black;
}

.respond-icons .fas {
  margin-left: 7px;
  color: #4056A1;
}
.respond-icons .fas:hover {
  color: goldenrod;
}